@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#background{
    position: absolute;
    z-index:0;
    float:left;
}
#explication{
    color: #4F57C4;
   font-family: 'Roboto Condensed', sans-serif;
   text-align: center;
 font-size: 24pt;
    position: absolute;
       left: 800px;
    top: 500px;
   z-index:2;
}

#logo{
    
    position: absolute;
    left: 900px;
    z-index:0;
    top:50px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
     color: #4F57f4;
}

a:hover {
    text-decoration: none;
     color: #4F57a2;
}

a:active {
    text-decoration: none;
}

@media screen and (max-width: 640px) {
  #background{
      display:none;
  }
  #explication{
   position: static;
   font-size: 12pt;
  }
  #logo{
       position: static;
       width:100%;
     
  }
}